app/core/firebaseCredentials.json
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase credentials
firebaseCredentials.json